<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>PracticeProject</title>
    </head>
    <body>
        <h1>Something</h1>
        <p>The following video provides an introduction to WebMatrix:</p>
        <video width="320" height="240" style="width:50%; height:auto;float:left;" controls autoplay="autoplay"> 
  <source src="http://localhost:39986/api/LiveStream/JurnalTV/index.m3u8" type="application/x-mpegURL"> 
< /video>
</body>
</html>